@media screen and (max-width:769px) {
    .header {
        padding: 10px 5%;
    }

    .home {
        padding: 0 5%;
    }

    .home-content h3 {
        font-size: 24px;
    }

    #cursor {
        height: 20px;
    }

    .home-content h1 {
        font-size: 35px;
    }

    .btn-box {
        padding: 15px 30px;
    }

    .home-img {
        margin-left: 0;
        width: 275px;
        height: 275px;
        z-index: -1;
    }

    .home-img img {
        width: 275px;
        height: 275px;
        box-shadow: 20px 20px 500px cyan,
            -20px -20px 500px rgb(155, 6, 255),
            inset 0 0 10px rgb(197, 0, 247);
    }

    .about-img {
        display: none;
    }

    .about {
        display: unset;
        text-align: center;
        margin-bottom: 3rem;
    }

    .about-text {
        margin: 0 35px 50px;
    }

    .about-text h2 {
        font-size: 35px;
    }

    .about-text h4 {
        align-items: center;
    }

    .about-text h4::before {
        content: "{  ";
        color: #0ef;
        font-size: 30px;
    }

    .about-text h4::after {
        font-size: 30px;
        content: "  }";
        color: #0ef;
    }

    .about-text p {
        text-align: justify;
        padding-top: 10px;
    }

    #services{
        line-height: 1.2;
        margin-bottom: 5rem;
    }

    .services-list div p{
        font-size: 16px;
    }

    .sub-title{
        font-size: 35px;
        letter-spacing: 2px;
    }

    .container{
        padding: 25px;
    }
    .services-list{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .read{
        float: right;
        animation: SlideLeft 1s ease forwards;
    }

    section#skill{
        padding-top: 20px;
    }

    .bigcontainer{
        flex-direction: column;
    }

    .main-text h2{
        font-size: 35px;
    }

    .portfolio-content{
        height:80vh;
        display:inline-block;
        margin: 0 80px;
        gap:20px;
    }
    .row{
        margin: 0 auto 24px;
    }

    .layer{
        padding:0 40px;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        overflow: hidden;
    }

    .layer h5{
        font-size: 30px;
    }

    .layer p{
        line-height: 1;
        font-size: 1.2rem;
        font-weight: lighter;
        text-align: justify;
        margin: 15px 0 0;
    }

    .externalLink{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
    }

    .externalLink img{
        width: 30px;
    }

    .contact{
        margin-top: 8rem;
        display: block;
    }

    .contact-text p{
        margin-right: 30px;
        text-align: justify;
    }

    .footer p{
        margin-top: 36px;
    }
}